certifi==2019.11.28
joblib==0.14.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
object-detection==0.1
olefile==0.46
pandas==1.0.3
Pillow==7.0.0
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
slim==0.1
tesserocr==2.4.0
wincertstore==0.2
